@fluid:registry=https://ncr.jfrog.io/ncr/api/npm/digitalbanking-npm-group/
@dbank-ui-lib:registry=https://ncr.jfrog.io/ncr/api/npm/digitalbanking-npm-group/
@feng-lib:registry=https://ncr.jfrog.io/ncr/api/npm/digitalbanking-npm-group/
//ncr.jfrog.io/ncr/api/npm/digitalbanking-npm-group/:_auth=cGEyMzAxNDJAY29ycC5uY3IuY29tOkFQM1lWUk5yMzlWTjZkYlhHeEFWWnUxTnZRcUpIQzlNRlJ6YW5iU0pDUWRDbVRqUFE=
//ncr.jfrog.io/ncr/api/npm/digitalbanking-npm-group/:username=pa230142@corp.ncr.com
//ncr.jfrog.io/ncr/api/npm/digitalbanking-npm-group/:email=pa230142@corp.ncr.com
//ncr.jfrog.io/ncr/api/npm/digitalbanking-npm-group/:always-auth=true
