"@fluid:registry" "https://ncr.jfrog.io/ncr/api/npm/digitalbanking-npm-group/"
"@dbank-ui-lib:registry" "https://ncr.jfrog.io/ncr/api/npm/digitalbanking-npm-group/"
"@feng-lib:registry" "https://ncr.jfrog.io/ncr/api/npm/digitalbanking-npm-group/"